// Colors
$color-primary-green: #43BD2B;      // Bright green
$color-bg-light: #232323;           // Light background
$color-bg-dark: #191919;            // Dark background
$color-green-transparent: #43BD2B80; // Transparent green
$color-rediger: #C78427;             // Orange/reddish
$color-slet: #CB2020;         // Delete/warning red
